table{
    border: 2px solid darkgray;
    border-collapse: collapse;
    margin-left: 100px;

}
tbody th:hover{
    background-color: rgb(255, 145, 0);
}

table tr:nth-child(2n) td{
    background-color: lightgreen;
}
table tr:nth-child(2n+1) td{
    background-color: lightskyblue;
}
tbody tr:hover td{
    background-color: rgb(0, 89, 255);
}
th{
    width:75px;
    height: 20px;
    background-color: darkblue;
    border:2px solid black;

}

td{
    width:75px;
    height: 20px;
    background-color: lightgray;
    border:2px solid black;

}
